# Ignorer node_modules
node_modules/

# Ignorer les fichiers de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer .env si tu utilises des variables d'environnement sensibles
.env

# Autres fichiers spécifiques à ignorer, si nécessaire
dist/
